---
layout: default
title: Travel
description: Travel gives true meaning of living a life
header-img: "img/post-bg-alitrip.jpg"
trips: [
    { title: "坝上&木兰围场之行", index: "bs&mlc" }
]
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <!-- 标签列表 tag[0]是标签名，tag[1]是包含这个tag的post的一个列表-->
            {% for trip in page.trips %}
            <div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator">
                    <a class="tag-text" href="trips/{{ trip.index }}/index.html">{{ trip.title }}</a>
                </span>
            </div>
            {% endfor %}

        </div>
    </div>

</div>